pandas
numpy
matplotlib
seaborn
wordcloud


nltk
spacy


scikit-learn


xgboost
lightgbm
catboost
gensim


torch
transformers==4.49.0
accelerate
datasets
tokenizers

optuna
wandb
tqdm

humanize
genson